
#nav_menu ul li a {
    text-align: center;
    display: block;
    width: 200px;
    padding: 1em 0;        /*padding above and below a elements*/
    text-decoration: none;
    background-color: #85929E;
    color: white;
    font-weight: bold;
    border-right: 2px solid #1B4F72;
    border-left: 2px solid #1B4F72;
    border-top: 2px solid #1B4F72;
    border-bottom: 2px solid #1B4F72;
}


/*************CSS for operation of menus***************/

#nav_menu ul {
    list-style: none;                 /*Removes bullets from all ul elements*/
    position: relative;               /*So submenus can be positioned*/
}

#nav_menu ul li {float: left;}         /*display items horizontally*/

#nav_menu ul ul {
    display: none;                     /*Don't display submenus until hover of li*/
    position: absolute;
    top: 100%;                          /*Position submenu at bottom of main menu*/
}

#nav_menu ul ul li {float: none;}        /*Display submenus vertically*/

#nav_menu ul li:hover > ul {            /*Select ul child of li element*/
    display: block;}                     /*Display submenu on hover of li element*/

#nav_menu > ul::after {
    content: "";                         /*Add empty content to the end of the first ul*/
    display: block;                      /*Display that content as a block element*/
    clear: both;                         /*Stop the floating of the li elements*/
}

/********************format and position the main navigation menu******************/
        nav {
            top: 0px;   
        }
        nav ul {
            list-style-type: none;
            margin: 0;
            padding: 0;
        }
        nav>ul li {
            position: relative; /*we must add a position to our main navigation bar so we can position a drop-down properly */
            text-align: center;
            font-weight: bold;
            color: darkmagenta;
            float: left;
        }
        nav a {
            text-decoration: none;
            display: inline-block;
            border: 3px solid black;
            padding: 15px 15px 15px 15px;
            width: 150px; /*this is important to set so our drop-down doesn't go across the page*/
            margin: 2px;
        }

/************format all navigation <a> elements********************/
        nav a:link{
            background-color: #154360;
        }
        nav a:hover, nav a:focus {
            background-color: #117864;
        }
        nav a:active{
            background-color: aquamarine;
        }

/*****************position sub-menu or drop-down********************/
        nav ul>li ul {
            position: absolute;
            top: 100%;
            display: none;
        }
        nav ul ul li {
            float:none;
        }

/********************special hover to display the drop-down****************/
        #hamburger {
display: inline-block;
float:left;
width: 26px;
font-size: 2em;
margin: 5px;
}

nav ul, nav:active ul {
    display: none;
    position: absolute;
    padding: 20px 20px 20px 0px;
    top: 20px;
}

nav:hover ul{
display: inline-block;
}

#mobileHide:hover {
display: none;
}

