/*************************************************************
*Description: Primary style sheet for librariankate.github.io
*Author: Kate Coleman
*School/Term:  University of Missouri-Columbia, Summer term 2020
*Developed: June 27, 2020
*Tested:  July 06, 2020; Passed on Firefox and Chrome browsers.
*************************************************************/
@font-face { 

font-family: WalterTurncoat;
src: url(images/WalterTurncoat-Regular.ttf);
}


body {
    width: 85%;
    padding: 0% 3% 5% 3%;
    background-color: #F4F6F7;
    margin: 15px;
    max-width: 1200px;
    font-size: 17px;
} 

h1 {color: #D7DBDD; 
    font-size: 3.5rem; 
    font-family: WalterTurncoat;
    text-align: center;
    text-shadow: 1px 1px #626567;
    border: 5px solid #626567;
    background-color: #16A085;
    margin: 105px;
    padding: 1%;
}  

h2 {
    text-align: left;  
    font-size: 1.5rem;
}
a:hover{color:dodgerblue; text-decoration: none; font-size: 10pt;}

h3 {color: #1F618D; font-size: 14pt;}
body {color: #212F3C;}
img {float: right;}
img {
    margin: 20px; 
    padding: 10px;
}

body blockquote {
    font-size: 16pt;
    font-family: fantasy;
    border: 1px solid #212F3C;
    padding: 2%;
    background-color: #16A085;
    text-align: center;
}

/*************footer styling**************/

.footer {font-size: 10pt;}

footer a:link {color:#003366;}
    footer a:visited {color:lightskyblue;}
    footer a:hover {color:rebeccapurple;}
    footer a:focus {color:rebeccapurple;}
    footer a:active {color:black;}

    a {
        text-decoration: none; 
        font-size: 10pt; 
        font-family: sans-serif;
        } 

footer {
    border-top-style: ridge;
    padding-top: 10px;
    padding-left: 10px;
    margin-left: 0;
}

footer {width: 100%;
    height: 100px;
    padding-top: 50px;
    margin-top: 50px;
    background-image: url(images/footerbackground.jpg);
    background-repeat: no-repeat;
    background-size: cover;}

.icon {height: 15px;
    width: 15px;
    border: none;
    padding: 0;
    margin: 0;
    padding-right: 3px;
    float: left;
}

.icon:hover {
    transform: scale(1.5)
}

footer {clear: both;}

footer img:hover{
    transform:scale(1.5);
}

#hamburger {display: none;
        }

/**************media queries go here after the main CSS**************/


 @media print {
    *{background: transparent !important;
        color: black !important;
        box-shadow: none !important;
        text-shadow: none !important;
        margin: 0;
    }
    
img {max-width:100%; height: auto;}

body, h1, p, h3, ul, li, blockquote, footer, a, h4, section, table, caption
    
    {font-size: 90% !important;
     } 
}
    