body {
    background-color: #F4F6F7
}
h1 {color: #1A5276; font-size: 20pt; font-family: sans-serif}  
h1 {border: 5px solid #7B7D7D}
h1 {background: #B3B6B7} 
h1 {
    width: 200px;
    margin: 35px;
    padding: 10px;
}
footer p {font-size: 8pt;}
footer {border-top-style: ridge
}
a:hover{color:dodgerblue; text-decoration: none; font-size: 10pt;}
h3 {color: #1F618D; font-size: 14pt;}
body {color: #212F3C}
img {float: right;}
img {
    margin: 20px; 
    padding: 10px;
}
ul::first-line {color: #2471A3}
body blockquote {font-family: fantasy;}